@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primario: #1073BA;
    --color-secundario: #00DA55;
    --color-verdeloco: #20d200;
    --color-verdesito: #caf438;
    --color-gris: #3B3B3B;
    --color-blanco: #FFFFFF; /*Cards*/
    --color-negro: #1F1E1E;
    --color-negrito: #001925;
    --color-grisClaro: #e1e1e1;
    --color-naranja: #ff7a01;
    /* --color-azulino: #002733; */
    --color-azulino: #192427;

    --color-fondoBlanco: #F8FAFC;
    --color-textoFBlanco: #1E293B;
    --color-textoSFBlanco: #64748B;

    --color-fondoOscuro: #0B1120;
    --color-navOscuro: #161F32;

    --breakpoint-md: 52rem;


    

    --font-Poppins: "Poppins", sans-serif;
    --font-Playfair: "Playfair Display", serif;
    --font-Urbanist: "Urbanist", sans-serif;
    --font-Russo: "Russo One", sans-serif;
    --font-Montserrat: "Montserrat", sans-serif;
    --font-Epic:"Montserrat Alternates", sans-serif;

}


@layer base {

    body {
        @apply font-Montserrat cursor-[url('../assets/cursorCeleste.png'),pointer]
        dark:cursor-[url('../assets/cursorDegradado.png'),pointer]
    }

    h1,h2,h3 {
        @apply font-Poppins
    }

}

.cursor-pointer {
    cursor:url('../assets/touchCeleste.png'), auto;
}
.dark [class*="cursor-pointer"]:hover {
    cursor:url('../assets/touchDegradado.png'), auto;
}

.text-stroke-black {
        -webkit-text-stroke: 2px #000000; /* Puedes cambiar el color y el grosor aquí */
    }
    
.text-stroke-white {
        -webkit-text-stroke: 1px #ffffff;
    }

.text-stroke-blue {
        -webkit-text-stroke: 1px #00fbff;
    }





:root {
    --pink-color: 328.25; /*pink-500 #f6339a #fb64b6 */
    --blue-color: 216.89; /*blue-500 #2b7fff */
    --fuchsia-color: 292.61; /*fuchsia-500 #e12afb #ed6aff */
    --lime-color: 78.99; /*lime-500 #7ccf00 */
    --amber-color: 40.58; /*pink-500 #fe9a00 #ffb900 */
    --purple-color: 272.11; /*purple-500 #ad46ff #c27aff */

    /*========== Colors CARD PRODUCTOS ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(265, 75%, 48%);
    --second-color: hsl(18, 88%, 58%);
    --title-color: hsl(220, 20%, 8%);
    --text-color: hsl(220, 8%, 35%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(220, 4%, 99%);
    --container-color: hsl(0, 0%, 100%);
}


.card-pink {
    --hue: var(--pink-color);
}
.card-pinkTouch{
    cursor: url('../assets/touchPink.png'), auto;
}
.card-pinkCursor{
    cursor: url('../assets/cursorPink.png'), auto;
}


.card-blue {
    --hue: var(--blue-color);
}
.card-blueTouch{
    cursor: url('../assets/touchCeleste.png'), auto;
}
.card-blueCursor{
    cursor: url('../assets/cursorCeleste.png'), auto;
}



.card-fuchsia {
    --hue: var(--fuchsia-color);
}
.card-lime {
    --hue: var(--lime-color);
}
.card-amber {
    --hue: var(--amber-color);
}
.card-purple {
    --hue: var(--purple-color);
}






/* /////////////////////////////////////// */

/* "CLASE" PARA QUE FUNCIONE EL DEGRADADO */
.degradado{
    background-clip: text;
    -webkit-background-clip: text;
}
/* ."clase" para que funcione el degradado */

/* /////////////////////////////////////// */



/* /////////////////////////////////////// */

/* SEPARAR PALABRAS ENTERAS */
.spaceletter{
    word-spacing: 3px;
}

.spaceletter2{
    word-spacing: 7px;
}
/* .separar palabras enteras */

/* /////////////////////////////////////// */





/* /////////////////////////////////////// */

/* HOVER ARTICLES */
/* --- Efecto Hover General --- */
.nav-card-zagi:hover {
    transform: scale(1.05); /* El efecto de agrandar que querías */
}

/* Hacer que la flecha aparezca al pasar el mouse */
.nav-card-zagi:hover .arrow-icon {
    opacity: 1;
    transform: translateX(5px);
}

/* --- Hovers específicos para cada color en Modo Oscuro --- */

/* Hover para el botón de INICIO (Verde) */
.dark .nav-card-zagi[class*="from-green-500"]:hover {
    background-color: #7ccf00 !important; /* bg-lime-500 */
    box-shadow: 0 10px 25px rgba(132, 204, 22, 0.5);
}

/* Hover para CATEGORÍAS (Fucsia) */
.dark .nav-card-zagi[class*="from-fuchsia-500"]:hover {
    background-color: #d946ef !important; /* bg-fuchsia-500 */
    box-shadow: 0 10px 25px rgba(217, 70, 239, 0.5);
}

/* Hover para OFERTAS (Naranja) */
.dark .nav-card-zagi[class*="from-orange-500"]:hover {
    background-color: #f97316 !important; /* bg-orange-500 */
    box-shadow: 0 10px 25px rgba(249, 115, 22, 0.5);
}

/* Hover para CONTACTO (Azul) */
.dark .nav-card-zagi[class*="from-blue-500"]:hover {
    background-color: #3b82f6 !important; /* bg-blue-500 */
    box-shadow: 0 10px 25px rgba(59, 130, 246, 0.5);
}

/* /////////////////////////////////////// */



/* /////////////////////////////////////// */

/* BUTTOM X */
.x-circle:hover {
    transform: scale(1.20) rotate(75deg);
}
.x-circle[class*="text-rose-500"]:hover {
    color: #f6339a !important; /* bg-pink-500 */
    
}

/* 1. Estado inicial del botón (como está siempre) */
#btn-close {
    transition: all 0.3s ease-in-out;
}

/* 2. El "Hover del Padre" que afecta al "Hijo" */
#mobile-menu:active #btn-close {
    transform: rotate(75deg) scale(1.20);
    color: #f6339a; /* Color pink-500 de Tailwind */
}

/* buttom x */

/* /////////////////////////////////////// */



/* /////////////////////////////////////// */

/* hover para el carrito y lupa */
.lupita:hover {
    color:#51a2ff; /* blue-400 */
    transform: scale(1.10);
}
.dark [class*="lupita"]:hover {
    color: #7ccf00; /* lime-500 */
}

/* hover para el botón oscuro y claro */
.luna:hover {
    background-color: #51a2ff; /* blue-400 */
    transform: scale(1.10) rotate(-45deg);
}
.dark [class*="luna"]:hover {
    background-color: #7ccf00; /* lime-500 */
}

/* hover para el navPrincipal */
.navPrincipal:hover {
    color: #51a2ff; /* blue-400 */
    transform: scale(1.10);
}
.dark [class*="navPrincipal"]:hover {
    color: #7ccf00; /* lime-500 */
}

/* /////////////////////////////////////// */


/* /////////////////////////////////////// */

/* hover para el logo */
.logito {
    /* nombre | duración | curva de tiempo | bucle infinito */
    animation: latidoLogo 3s ease-in-out infinite;
    display: inline-block; /* Importante para que el transform funcione bien */
}
/* Definimos la animación */
@keyframes latidoLogo {
    0% {
        transform: scale(1);
        translate: 0 0;
    }
    50% {
        transform: scale(1.30);
        /* Usamos translate en lugar de translateX para mejor rendimiento */
        translate: 0 0; 
    }
    100% {
        transform: scale(1);
        translate: 0 0;
    }
}


@media (width >= 540px) {
    @keyframes latidoLogo {
        0% {
            transform: scale(1);
            translate: 0 0;
        }
        50% {
            transform: scale(1.40);
            /* Usamos translate en lugar de translateX para mejor rendimiento */
            translate: 3rem 0; 
        }
        100% {
            transform: scale(1);
            translate: 0 0;
        }
    }
}

/* /////////////////////////////////////// */



/* /////////////////////////////////////// */
/* hover para iconos del hero */
.iconsitos:hover {
    text-shadow: 0 10px 25px rgba(59, 130, 246, 0.1);
    transform: scale(1.15);
    transition:.2s ease-in-out;
    
}
.dark [class*="iconsitos"]:hover {
    text-shadow: 0 10px 25px rgba(132, 204, 22, 0.1);
}

/* /////////////////////////////////////////// */




/* /////////////////////////////////////////// */

/*  animation para carrito */
.carritoCard:hover {
    box-shadow: 0 0 20px 4px hsla(var(--hue), 90%, 50%) !important;
    transform: scale(1.08) !important;
}


.carrito {
    /* nombre | duración | curva de tiempo | bucle infinito */
    animation: latidoCarrito 3s ease-in-out infinite;
    ; /* Importante para que el transform funcione bien */
}
/* Definimos la animación */
@keyframes latidoCarrito {
    0% {
        transform: scale(1);
        translate: 0 0;
    }
    50% {
        transform: scale(1.10);
        /* Usamos translate en lugar de translateX para mejor rendimiento */
        translate: 0 0; 
    }
    100% {
        transform: scale(1);
        translate: 0 0;
    }
}

/* /////////////////////////////////////////// */







/* /////////////////////////////////////////// */
/* CARDS CATEGORÍAS BEDIMCODE */
.card__shadow {
    background: linear-gradient(180deg, 
                hsla(0, 0%, 0%, 0) 70%, 
                hsl(0, 0%, 0%) 100%);
}

.card__img {
    transition: transform .4s;
}

.card__clip {
    box-shadow: 0 0 16px 4px hsl(var(--hue), 90%, 50%);
    transition: transform .4s;
}

.card__article1:hover .card__img {
    transform: scale(1.1);
}

.info {
    clip-path: circle(8px at 88% 9%);
    transition: clip-path .5s ease-in-out;
}

.info__button {
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
}

.info__button:hover {
    box-shadow: 0 0 20px 4px hsla(var(--hue), 90%, 50%) !important;
    transform: scale(1.08) !important;
}


.info__link {
    box-shadow: 0 0 12px hsl(var(--hue), 90%, 50%);
    transition: transform .4s;
}

.info__link:hover {
    transform: translateY(-.25rem);
}

/* Rotate icon */
.card__article1:hover .card__clip {
    transform: rotate(-45deg);
}

/* Clip path animation */
.info:hover,
.card__clip:hover ~ .info {
    clip-path: circle(100%);
}


/*  ////   */

/*  animation para Button */

.info__button {
    /* nombre | duración | curva de tiempo | bucle infinito */
    animation: latidoButton 3s ease-in-out infinite;
    ; /* Importante para que el transform funcione bien */
}
/* Definimos la animación */
@keyframes latidoButton {
    0% {
        transform: scale(1);
        translate: 0 0;
        /* Botón sin sombra al inicio */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.4);
    }
    50% {
        transform: scale(1.07);
        /* Usamos translate en lugar de translateX para mejor rendimiento */
        translate: 0 0; 
        /* La sombra se agranda y se hace más intensa cuando el botón crece */
        box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%, 0.6);
    }
    100% {
        transform: scale(1);
        translate: 0 0;
        /* Regresa a 0 de sombra */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.4);
    }
}

/* .cards categorías bedimcode */
/* /////////////////////////////////////////// */










/* /////////////////////////////////////// */
/* BEDIMCODE OFERTAS*/

.card__article {
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, .5);
    overflow: hidden;
    flex: 0 0 64px;
    transition: flex .5s ease;
}
.dark .card__article {
    /* box-shadow: 0 4px 24px hsla(314, 100%, 47%, 0.5); */
    box-shadow: 0px 2px 2px 5px hsla(var(--hue), 90%, 50%, 1);
}

@media (width >= 540px) {
    .card__article {
        flex: 0 0 97px;
    }
}
@media (width >= 1024px) {
    .card__article {
        flex: 0 0 95px;
    }
}



.card__img{
    transition: scale .4s;
}

.card__data {
    transform: translateY(2rem);
    opacity: 0;
    transition: opacity .4s ease .1s, transform .4s ease .1s;
}




/* Card active by default, takes up more space */
.card__active {
  flex: 5;
}

.card__active .card__data {
  opacity: 1;
  transform: translateY(0);
}

.card__active:hover .card__img {
  scale: 1.1;
}

/* Any card expands when you hover over it */
.card__article:hover {
  flex: 5 ;
}

/* If the hover is NOT on the card active, contract card active at base proportion */
.card:has(.card__article:not(.card__active):hover) .card__active {
  flex: 0 0 64px;
}

/* If the hover is NOT in card active, it also hides its contents */
.card:has(.card__article:not(.card__active):hover) .card__active .card__data {
  opacity: 0;
  transform: translateY(2rem);
}

/* Show content on the other cards */
.card__article:hover .card__data {
  opacity: 1;
  transform: translateY(0);
}


/* BREAKPOINTS DE HOVER */

@media (width >= 540px) {
    .card:has(.card__article:not(.card__active):hover) .card__active {
    flex: 0 0 97px;
    }
}
@media (width >= 1024px) {
    .card:has(.card__article:not(.card__active):hover) .card__active {
    flex: 0 0 95px;
    }
}

/* .bedimcode ofertas*/
/* /////////////////////////////////////// */














/* /////////////////////////////////////////// */
/* CAROUSEL PRODUCTOS */

.testimonial__card {
    box-shadow: 0 8px 16px hsla(var(--hue), 75%, 50%, .2); 
}
.dark .testimonial__card {
    box-shadow: 0px 2px 5px 5px hsla(var(--hue), 90%, 50%, 1);
}

.testimonial__img {
    border-color: hsl(var(--hue) 90% 50%);
}

.testimonial__stars i {
    color: var(--second-color);
}
.dark .testimonial__stars i {
    color: rgb(255, 191, 0);
}

/* Swiper class */
.testimonial .swiper-pagination-bullets {
    bottom: 4rem ;
}

.testimonial .swiper-pagination-bullet {
    background-color: hsl(var(--hue) 90% 50%);
    transition: opacity .4s;
}

.card-pink .swiper-pagination-bullet {
    cursor: url('../assets/cursorPink.png'), auto;
}
.card-blue .swiper-pagination-bullet {
    cursor: url('../assets/cursorCeleste.png'), auto;
}

.testimonial .swiper-button-prev {
    left: calc(50% - 3rem);
}

.testimonial .swiper-button-next {
    right: calc(50% - 3rem)
}

.testimonial .swiper-button-prev::after,
.testimonial .swiper-button-next::after {
    content: '';
}

.testimonial :is(.swiper-button-prev, .swiper-button-next){
    top: initial;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: hsl(var(--hue) 90% 50%);
    color: var(--white-color);
    border-radius: 50%;
    font-size: 1.5rem;
}

.card-pink :is(.swiper-button-prev, .swiper-button-next){
    cursor: url('../assets/touchPink.png'), auto;
}
.card-blue :is(.swiper-button-prev, .swiper-button-next){
    cursor: url('../assets/touchCeleste.png'), auto;
}


.dark .carritoCard {
    box-shadow: 0px 3px 15px 1px hsla(var(--hue), 90%, 50%, 1);
}





/*  animation para carrito */


.carrito2 {
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
    animation: latidoCarrito1 3s ease-in-out infinite;
}
.dark .carrito2 {
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
    animation: latidoCarrito2 3s ease-in-out infinite;
}

.carrito2:hover {
    box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%,0.2) !important;
    transform: scale(1.08)  translateY(-.25rem) !important;
    /* 1. Congelamos la animación para que no siga latiendo ni moviéndose sola */
    animation-play-state: paused !important;
}
.dark .carrito2:hover {
    box-shadow: 0 0 20px 4px hsla(var(--hue), 90%, 50%) !important;
}


/*  animation para Button */

/* Definimos la animación */
@keyframes latidoCarrito1 {
    0% {
        transform: scale(1);
        translate: 0 0;
        /* Botón sin sombra al inicio */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.1);
    }
    50% {
        transform: scale(1);
        /* Usamos translate en lugar de translateX para mejor rendimiento */
        translate: 0 -.25rem; 
        /* La sombra se agranda y se hace más intensa cuando el botón crece */
        box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%, 0.2);
    }
    100% {
        transform: scale(1);
        translate: 0 0;
        /* Regresa a 0 de sombra */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.1);
    }
}
@keyframes latidoCarrito2 {
    0% {
        transform: scale(1);
        translate: 0 0;
        /* Botón sin sombra al inicio */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.4);
    }
    50% {
        transform: scale(1);
        /* Usamos translate en lugar de translateX para mejor rendimiento */
        translate: 0 -.25rem; 
        /* La sombra se agranda y se hace más intensa cuando el botón crece */
        box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%, 0.6);
    }
    100% {
        transform: scale(1);
        translate: 0 0;
        /* Regresa a 0 de sombra */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.4);
    }
}

/* .carousel products */
/* /////////////////////////////////////////// */







/* /////////////////////////////////////////// */
/* ====== PRODUCTOS EXPANSIBLES ======= */

/* MINIATURAS SCROLL */
/* Oculta la barra de scroll en navegadores modernos (Chrome, Safari, Edge) */
.ocultar-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Oculta la barra de scroll en Firefox */
.ocultar-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE y Edge antiguo */
}

/* /////////////////////////////////////////// */





/* /////////////////////////////////////////// */
/* ======= INFO OCULTA ======== */
.infoOculta {
    border-color: hsl(var(--hue) 90% 50%);
}

.textoInfoOculta {
    color: hsl(var(--hue) 90% 50%);
}

.botonInfoOculta {
    background-color: hsl(var(--hue) 90% 50%);
}



/*  animation para Imagenes InfoOculta */

.carrito3 {
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
    animation: latidoCarrito1 3s ease-in-out infinite;
}
.dark .carrito3 {
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
    animation: latidoCarrito2 3s ease-in-out infinite;
}

.carrito3:hover {
    box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%,0.2) !important;
    transform: scale(1.08) !important;
    /* 1. Congelamos la animación para que no siga latiendo ni moviéndose sola */
    animation-play-state: paused !important;
}
.dark .carrito3:hover {
    box-shadow: 0 0 20px 4px hsla(var(--hue), 90%, 50%) !important;
}


/* Definimos la animación */
@keyframes latidoCarrito1 {
    0% {
        transform: scale(1);
        translate: 0 0;
        /* Botón sin sombra al inicio */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.1);
    }
    50% {
        transform: scale(1);
        /* Usamos translate en lugar de translateX para mejor rendimiento */
        translate:  0 -.25rem;
        /* La sombra se agranda y se hace más intensa cuando el botón crece */
        box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%, 0.2);
    }
    100% {
        transform: scale(1);
        translate: 0 0;
        /* Regresa a 0 de sombra */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.1);
    }
}
@keyframes latidoCarrito2 {
    0% {
        transform: scale(1);
        translate: 0 0;
        /* Botón sin sombra al inicio */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.4);
    }
    50% {
        transform: scale(1);
        /* Usamos translate en lugar de translateX para mejor rendimiento */
        translate: 0 -.25rem; 
        /* La sombra se agranda y se hace más intensa cuando el botón crece */
        box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%, 0.6);
    }
    100% {
        transform: scale(1);
        translate: 0 0;
        /* Regresa a 0 de sombra */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.4);
    }
}


/* /////////*/


/*  animation para Boton InfoOculta */

.carrito4 {
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
    animation: latidoCarrito4 3s ease-in-out infinite;
}
.dark .carrito4 {
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
    animation: latidoCarrito5 3s ease-in-out infinite;
}

.carrito4:hover {
    box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%,0.4) !important;
    transform: scale(1.08) translateY(-.25rem) !important;
    /* 1. Congelamos la animación para que no siga latiendo ni moviéndose sola */
    animation-play-state: paused !important;
}
.dark .carrito4:hover {
    box-shadow: 0 0 20px 4px hsla(var(--hue), 90%, 50%) !important;
}


/* Definimos la animación */
@keyframes latidoCarrito4 {
    0% {
        transform: scale(1);
        translate: 0 0;
        /* Botón sin sombra al inicio */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.2);
    }
    50% {
        transform: scale(1);
        /* Usamos translate en lugar de translateX para mejor rendimiento */
        translate:  0 0;
        /* La sombra se agranda y se hace más intensa cuando el botón crece */
        box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%, 0.4);
    }
    100% {
        transform: scale(1);
        translate: 0 0;
        /* Regresa a 0 de sombra */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.2);
    }
}
@keyframes latidoCarrito5 {
    0% {
        transform: scale(1);
        translate: 0 0;
        /* Botón sin sombra al inicio */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.4);
    }
    50% {
        transform: scale(1);
        /* Usamos translate en lugar de translateX para mejor rendimiento */
        translate: 0 0; 
        /* La sombra se agranda y se hace más intensa cuando el botón crece */
        box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%, 0.6);
    }
    100% {
        transform: scale(1);
        translate: 0 0;
        /* Regresa a 0 de sombra */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.4);
    }
}

/* //////// */

/*  animation para Imagen Principal InfoOculta */

.zoomEpic {
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
    animation: zoomEpic 3s ease-in-out infinite;
}
.dark .zoomEpic {
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
    animation: zoomEpic2 3s ease-in-out infinite;
}

.zoomEpic:hover {
    box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%,0.2) !important;
    /* 1. Congelamos la animación para que no siga latiendo ni moviéndose sola */
    animation-play-state: paused !important;
}
.dark .zoomEpic:hover {
    box-shadow: 0 0 20px 4px hsla(var(--hue), 90%, 50%) !important;
}


/* Definimos la animación */
@keyframes zoomEpic {
    0% {
        transform: scale(1);
        translate: 0 0;
        /* Botón sin sombra al inicio */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.1);
    }
    50% {
        transform: scale(1);
        /* Usamos translate en lugar de translateX para mejor rendimiento */
        translate:  0 -.25rem;
        /* La sombra se agranda y se hace más intensa cuando el botón crece */
        box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%, 0.2);
    }
    100% {
        transform: scale(1);
        translate: 0 0;
        /* Regresa a 0 de sombra */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.1);
    }
}
@keyframes zoomEpic2 {
    0% {
        transform: scale(1);
        translate: 0 0;
        /* Botón sin sombra al inicio */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.4);
    }
    50% {
        transform: scale(1);
        /* Usamos translate en lugar de translateX para mejor rendimiento */
        translate: 0 -.25rem; 
        /* La sombra se agranda y se hace más intensa cuando el botón crece */
        box-shadow: 0 0 16px 4px hsla(var(--hue), 90%, 50%, 0.6);
    }
    100% {
        transform: scale(1);
        translate: 0 0;
        /* Regresa a 0 de sombra */
        box-shadow: 0 0 8px 2px hsla(var(--hue), 90%, 50%, 0.4);
    }
}


/* /////////*/

/* zoom para la solo la Imagen Principal de InfoOculta */
.zoomPro {
    transition: transform 0.2s ease;
    transform-origin: center center;
}

.zoomPro:hover {
    transform: scale(2.5);
    cursor: zoom-in;
}

/* boton X de carrito de Compras */
.botonX {
    transition: 0.2s ease;
}

.botonX:hover {
    background-color: rgb(81, 162, 255);
    transform: scale(1.10);
}

.dark .botonX:hover {
    background-color: #7ccf00;
}
